body{
  background-color : black;
  color : white;
  font-family : 'Space Grotesk', sans-serif;
}
a {
  color : blue;
}
#heading{
  display : inline-block;
  width : auto;
  text-align : center;
}
#contents{
  text-align : center;
}
#Menu_toggle{
  display : inline-block;
}
