#heading {
text-align : center;
  font-family : 'Space Grotesk', sans-serif;
}
body {
  font-family : 'Space Grotesk', sans-serif;
}
figure{
  text-align : center;
  margin : 0;
}

  img{
    width : 100%;
    max-width : 600px;
  }

figcaption{
  text-align : center;
  margin-top : 8px;
  margin-bottom : 25px;
}

  a{
    text-align : center;
  }

